/* .splash {
    display: flex;
    height: 100%;
    background-image: url('https://i.imgur.com/ehETORR.png');
    background-repeat: repeat-y;
    background-size: cover;
    background-position: center;
    justify-content: center;
} */

.homeContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 95vh;
}

.description {
    width: 50%;
    font-weight: 650;
    text-align: center;
    font-family: comic sans;
}

.logo {
    height: 80px ;
    width: 80px;
}

.search {
    width: 50%;
    text-align: center;
  
    position: relative;
    display: block;
    margin: auto;
    padding: 2rem;
  }

.button {
    background-color: #beabd8;
    border: #beabd8;
}

.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 2;
    border-radius: .25rem;
    font-size: 1rem;
}